html{
  scroll-behavior: smooth;
  
}

header label{
  font-size: 40px;
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.panel-btn{
  display: none;
}

.link {
  text-decoration: none;
  color: rgb(1, 5, 51);
}

.link-white{
  color: white;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo label{
  display: none;
}
.nav {
  display: flex;
  width: 100%;
  padding-right: 80px;
}

.nav li {
  display: inline-block;
  margin-right: 2vw;
}

.nav ul li a:hover {
  color: rgb(1, 5, 51);
  font-weight: bold;
}

#logo-img {
  width: auto;
  height: 120px;
  padding: 5px;
  padding-left: 5vmin;
}

#menu {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.6vmin;
}
.banner-container{
  position: initial
}

#banner {
  background-image: url(img/banner.jpg);

  background-size: cover;
  width: 100%;
  height: calc(100vh - 160px);
  color: white;
  text-align: left;

}

#banner .opaco {
  background-color: rgba(39, 39, 39, 0.4);
  width: 100%;
  height: 100%;
}

#h1banner {
  font-size: 50px;
  margin: 0;
  padding: 2vmin 5vmin;
  padding-left: 5vmin;
}

.opaco p, 
h2 {
  margin: 5px;
  margin-left: 5vmin;
  font-size: 20px;
}

/* .opaco h2 {
  margin: 5px;
  margin-left: 70px;
  font-size: 23px;
} */

/* Redes Sociales en el Banner */

#redes {
  margin: 0;
  margin-left: 5vmin;
  display: flex;
}
#redes ul{
  padding: 0;
  font-size: 4vmin;
}
#redes li {
  display: inline-flex;
  margin-right: 10px;
  margin-left: 5vmin;
}

#redes li a{
  color: white;
}

/* Botones */

#button {
  margin-left: 5vmin;
}

.button {
  margin-left: 0px;
  margin-right: 4vmin;
  height: 35px;
  background-color: rgb(231, 109, 16);
  border: 0;
  border-radius: 15px;
  color: rgb(253, 253, 253);
  font-weight: bold;
  text-align: center;
  width: 100px;
}

.button:hover {
  background-color: rgba(1, 5, 51, 0.8);
  cursor: pointer;
}

.button > a {
  text-decoration: none;
  color: white;
}

/* Contenedor General */

/* #container {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
} */

/* CONTENIDO / SECCIONES */
/* SECCIONES CLARAS */

.dark {
  background-color: #e3e3e3;
  text-align: justify;
  color: rgb(1, 5, 51);
  padding: 15px 80px;
}
.h2_dark {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
}
.dark p {
  font-size: 20px;
}
.dark div{
  text-align: center;
}

.dark img {
  width: 80%;
  /* margin-left: 125px; */
}

/* SECCIONES CLARAS */

.sc_light {
  background-color: white;
  color: rgb(1, 5, 51);
  padding: 10px 20px 10px 20px;
  text-align: center;
}

#light {
  display: flex;
  justify-content: space-between;
}

#light img {
  max-width: 450px;
  /* height: 300px; */
  margin-left: 30px;
  margin-right: 30px;
}

.h2_light {
  font-size: 40px;
  text-align: center;
  margin: 1.25rem auto;
}

.sc_light p {
  font-size: 20px;
  text-align: center;
  max-width: auto;
}

h3 {
  font-size: 30px;
  text-align: center;

}

.cajas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 90%;
  margin: auto;
  align-items: center;
}

.contenedor1 {
  margin: auto;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  width: 90%;
  display: grid;
  grid-template-rows: auto 50px 200px 45px;
  align-items: center;
}

.contenedor1 img {
  width: auto;
  height: 50%;
  margin: 0px auto 0px auto;
}


/* ++++++++++ CARACTERÃSTICAS +++++++++++++++ */
.seccionCaract {
    width: 100%;
}


.container--categories {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.categories {
  width: 100%;
  background-color: inherit;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 312px;
  grid-auto-rows: 312px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //filter: grayscale(.7)
}

.card {
  position: relative;
  width: 100%;
  margin: 2px;
}

.card__overlay {
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: var(--blue-jay-blue);
  background-color: rgba(1, 5, 51, 0.6);
  overflow: hidden;
  transition: visibility 0.1s ease;
}

.secundario {
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  margin: 0;
  visibility: hidden;
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: var(--blue-jay-blue);
  background-color: rgba(1, 5, 51, 0.8);
  overflow: hidden;
  transition: visibility 0.1s ease;
}
.card:hover .secundario {
  width: 100%;
  position: absolute;
  cursor: pointer;
  visibility: visible;
}
.card:hover .card__overlay {
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
  visibility: hidden;

}
.card__overlay__text {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0;
}
#texto-izquierda {
  font-size: 20px;
  text-align: left;
}
#metodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
#contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 100%;
}

#contacto img {
  max-width: 30%;
  margin: 0px 70px;
}
.contacto{
    background-color: black;
    color: white;
    padding-top: 5px;
    margin-top: 20px;
}

#contacto p{
    width: 60%;
    padding-right: 20px;
}
aside #lateral {
  max-width: 30%;
  margin-top: 10px;
  }

#formulario {
  width: 80%;
  background-color: rgb(1, 5, 51);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  border-color: darkgray;
  border-style: solid;
}

#formulario h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0%;
}

#formulario input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

#formulario form .button {
  width:70%;
  margin: 15%;
}

.terminos {
  display: flex;
}

#formulario label {
  font-size: 12px;
  color: white;
  margin: 0;
  text-align: left;
}

#formulario label a {
  font-size: 14px;
  color: rgb(241, 243, 135);
}

#formulario input[type="checkbox"] {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

article#main-col{
    float: left;
    width: 65%;
}

#aliado{
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
}
#footer{
    background-color: rgb(1, 5 55);
    height: 50px;
}

footer{
    padding: 10px;
    margin-top: 20px;
    color: #f4f4f4;
    background-color: rgb(1, 5, 51);
    text-align: center;
    font-size: 12px;

}

#titulo {
  font-size: 3em;
  text-align: center;
}

#contenedor {
  padding-left: 7.5%;
}

.video {
  width: 45%;
  border: black 3px solid;
  border-radius: 10px;
  /* display: flex; */
}

.img {
  height: 100%;
  width: 45%;
  border: black 3px solid;
  border-radius: 10px;
}

#imgx {
  height: 154%; 
  width: 45%;
  border: black 3px solid;
  border-radius: 10px;
}
#menu-btn{
  display: none;
}
/************************** MEDIA QUERIES **************************************/
@media screen and (max-width: 768px){
  .nav {
    padding: 5vmin;
  }

  #redes ul{
    padding: 0;
  }

  .button{
    margin: 0 3vmin 0 0;
  }
  
  .dark {
    padding: 4vmin;
  }
  
  #light{
    align-items: flex-start;
  }
  .sc_light h3{
    margin: 0;

  }
  #light img {
    max-width: 50%;
    margin:0px;
  }
  #light p{
    margin: 0;
    font-size: 2.5vmin;
  }
  .light__text {
    max-width: 45%;
  }
 
  #metodo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }
  #metodo h3{
    margin-top  : 0;
  }
  #metodo #texto-izquierda{
    font-size: 3vmin;
  }

  .categories {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3vmin
  }

  #contacto {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    justify-items: center ;
  }

  #contacto img{
    max-width: 100%;
    margin: 0 auto;
  }

  #lateral{
    grid-column: 1 / 3;
    padding-bottom: 3vmin;
  }

  #formulario{
    margin: auto;
  }

  #aliado{
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 480px){
  .panel{
    position: fixed;
    z-index: 4000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: rgb(1, 5, 51);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.5s ease;
    transform: translate(100%, 0);
  }

  .panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    padding: 0;
  }
  
  
  #inicio div .panel-btn {
    position: fixed;
    z-index: 5000;
    bottom: 2vh;
    right: 2vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(126, 126, 126);
  }

  .panel-btn.is-active{
    background-color: white;
  }
  
 #inicio > div > button > span > span::after{
    color: white;
  }

  .logo label{
    display:block;
   }
  #logo-img{
    padding-left: 20px;
    height: 75px;
  }

  #banner{
    height:max-content;
  }

  #h1banner{
    font-size: 40px;
    padding: 20px;
  }
  /* #menu{
    display: none
  } */
  .opaco p, h2{
  font-size: 18px;
  margin-left: 25px;
  margin-right: 10px;
  text-align: left;
}
.opaco h2{
  font-size: 22px;
}

.opaco p{
  font-size: 16px;
}

.button  {
  margin-left: 10px;
}

#redes{
  font-size: 25px;
  margin-left: 0px;
}
#redes ul{
  margin-left: 0px;
  display:inline;
  padding-left: 20px;
  font-size: 1rem;
}

#about-us.dark{
  padding: 10px
}
.h2_dark{
font-size: 25px;
padding: 0px;
margin: auto;
text-align: center; 
}
.dark{
  padding: 0px 20px;
}
.dark p{
  font-size: 18px;
  text-align: justify;
  margin: 15px;
  }
.dark img{
  width: 90%;
  margin-left: 10px;
}
.sc_light {
  background-color: white;
  color: rgb(1, 5, 51);
  padding: 10px 15px 10px 15px;
  text-align: center;
}
.light__text{
  max-width: 100%;
}
.light__text p{
  font-size: 3rem  ;
}

.sc_light p{
  margin-top: 0px;
}

#light{
  display: block;
  justify-content: center;
  margin: 0px;
}

#light img{
  max-width: 100%;
  margin: 0px;
}

#light div p{
  font-size: 1rem;
}
#metodo{
  display:block;
  align-items: center;
}
#metodo h3{
  margin-bottom: 0.1rem;
}
#metodo #texto-izquierda{
  font-size: 1.1rem;
}

#metodo img{
  max-width: 100%;
  margin-top: 1.25rem;
}
.card {
  position:relative;
  width: 100%;
  margin: 2px;
}
.contacto h3{
  font-size: 20px;
  margin: 10px
}
#contacto{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contacto img {
  max-width: 55%;
  margin: auto
}
#contacto p{
  font-size: 4vmin;
  text-align: center;
  margin: auto;
  padding: 0px;
  width: 100%;
}
#lateral{
  padding-bottom: 5px;
  margin: 0px;
}
#formulario{
  position: relative;
  padding: 5px;
  margin: 10px auto;
  max-width: 90%;
  }
#formulario h2{
  font-size: 5vmin;
}

#formulario input, textarea {
  width: 100%;
  height: auto;
  padding: 10px;
}
#formulario button {
  width: 90%;
  margin-top: 15px;
}
#aliados{
  width: 90%;
  margin: auto;
}

#aliado{
  /* display: flex;
  flex-wrap: wrap; */
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}
#aliado img{
  width: 90%;
  margin: 4vmin 0;
}
/* .nav label{
  display: block;
} */
/* .nav{
  position: absolute;
  top: 85px;
  width: 70%;
  transform: translatex(110%);
  transition: all 0.3s;
} */
/* .nav ul{
  color: white;
  flex-direction: column;
  text-align: right;
  background-color: rgb(255, 255, 255, 0.9);
} */
#menu{
  position: fixed;
    z-index: 4000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  font-size: 18px;
padding: 0;
}
#menu li a{
  font-size: 8vmin;
  line-height: 250%;
  color: white
}
.logo label{
  margin-left: 40%;
  margin-right: 4vmin;
  }
/* #menu-btn: checked ~ .nav {
  transform: translateX(0%);
} */

footer{
  padding: 10px;
  margin-top: 20px;
  color: #f4f4f4;
  background-color: rgb(1, 5, 51);
  text-align: center;
  font-size: 10px;
}
  /*  ********************************* Estilos Portafolio ************************* */
  #contenedor{
    box-sizing: border-box;
    display: grid;
    grid-template: auto / 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 10px;
    padding: 0;
  }
  
  #contenedor img, #contenedor video {
    box-sizing: border-box;
    width: 90%;
    max-height: 250px;
  }


@media (min-width: 1200px){

}