body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

.link {
    text-decoration: none;
    color: rgb(1, 5, 51);
}

.header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    width: 100%;
    padding-right: 80px;
}

.nav li {
    display: inline-block;
    margin-right: 2vw;
}

.nav ul li a:hover {
    color: rgb(1, 5, 51);
    font-weight: bold;
}

#logo-img {
    width: auto;
    height: 120px;
    padding: 5px;
    padding-left: 80px;
}

#menu {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

#banner {
    background-image: url(img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 160px);
    color: white;
    text-align: left;
}

#banner .opaco {
    background-color: rgba(39, 39, 39, 0.4);
    width: 100%;
    height: 100%;
}

#h1banner {
    font-size: 50px;
    margin: 0;
    padding: 50px;
    padding-left: 70px;
}

.opaco p,
h2 {
    margin: 5px;
    margin-left: 70px;
    font-size: 20px;
}

.opaco h2 {
    margin: 5px;
    margin-left: 70px;
    font-size: 23px;
}


/* Redes Sociales en el Banner */

#redes {
    margin: 0;
    margin-left: 50px;
    display: flex;
}

#redes li {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 10px;
}


/* Botones */

#button {
    margin-left: 40px;
}

.button {
    margin-left: 50px;
    height: 35px;
    background-color: rgb(231, 109, 16);
    border: 0;
    border-radius: 15px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.button:hover {
    background-color: rgba(1, 5, 51, 0.8);
    cursor: pointer;
}

.button>a {
    text-decoration: none;
    color: white;
}


/* Contenedor General */

#container {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
}


/* CONTENIDO / SECCIONES */


/* SECCIONES OSCURAS */

.seccion img {
    max-width: auto;
    align-items: center;
}

.seccion {
    background-color: #f8f9f9;
    text-align: justify;
    color: rgb(1, 5, 51);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 15px;
    /* margin-top: 20px; */
}

.h2 {
    font-size: 40px;
    text-align: center;
}

.seccion p {
    font-size: 20px;
}


/* SECCIONES CLARAS */

.seccionclear {
    background-color: whitesmoke;
    color: rgb(1, 5, 51);
    padding: 10px 50px 10px 50px;
    text-align: center;
}

#clear {
    display:flex;
    justify-content: space-between;
}

#clear img {
    //float: left;
    height: 300px;
    margin-left: 30px;
}


.h2clear {
    font-size: 40px;
    text-align: center;
    margin: 1.25rem auto
}

.seccionclear p {
    font-size: 20px;
    text-align: left;
    max-width: auto;
}

h3 {
    font-size: 30px;
    text-align: center;
}

.cajas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    ;
    gap: 20px;
    max-width: 90%;
    margin: auto;
    align-items: center;
}

.contenedor1 {
    margin: auto;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    width: 90%;
    display: grid;
    grid-template-rows: auto 50px 200px 45px;
    align-items: center;
}

.contenedor1 img {
    width: auto;
    height: 50%;
    margin: 0px auto 0px auto;
}

/* .contenedor1 h3 {
    line-height: 50px;
} */

=====================================
/* ++++++++++ CATEGORIES +++++++++++++++ */
.container--categories {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.categories {
    width: 100%;
    background-color: inherit;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 312px; 
    grid-auto-rows: 312px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //filter: grayscale(.7)
}

.card {
    position: relative;
    width: 100%;
    margin: 0;
}

    .card__overlay {
        width: 100%;
        height: 100%;
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: var(--blue-jay-blue);
        background-color: rgba(34,34,34,.3);
        overflow: hidden;
        transition: visibility .1s ease;
    }

.secundario {
    width: 100%;
    height: 100%;
    margin: 0;
    visibility: hidden;
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: var(--blue-jay-blue);
    background-color: rgba(34,34,34);
    overflow: hidden;
    transition: visibility .1s ease;  
}
.card:hover .secundario {
    width: 100%;
    position: absolute;
    cursor: pointer;
    visibility: visible
}
.card:hover .card__overlay {
    width: 100%;
    opacity: .8;
    cursor: pointer;
    visibility: hidden;
}


.card__overlay__text {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--blue-jay-white);
    font-size: 1.5em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
======================================
/* #img-derecha {
    display: flex;
    float: right;
    max-height: 480px;
    padding-right: 10px;
    padding-left: 10px;
} */

#img-quienessomos {
    align-self: center;
}

#texto-izquierda{
    font-size: 20px;
    text-align: left;
}
#metodo{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
/* #img-derecha{
    float: right;
} */